@media (max-width: 1700px) {
    .universal {
        .universal_bg {
            .debit_card {
                .bxslider_card {
                    .text {
                        width: 560px;
                        font-size: 23px;
                    }

                    .image {
                        img {
                            width: 120%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1620px) {
    .what_is {
        .info {
            padding-top: 100px;
        }

        .video {
            width: 500px;
            margin-left: 0;

            .video_img {
                .play {
                    width: 66px;
                    height: 75px;
                    top: 88px;
                    left: 235px;

                    img {
                        width: 90%;
                    }
                }
            }

            > img {
                width: 100%;

                &.ufo1,
                &.ufo2 {
                    width: 85%;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .universal {
        .universal_bg {
            .debit_card {
                .bxslider_card {
                    .text {
                        width: 560px;
                        font-size: 23px;
                    }

                    .image {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .press {
        .centered {
            width: 1140px;
        }

        .columns {
            .box {
                width: 420px;
                padding: 45px;

                &.logos {
                    > div {
                        img {
                            margin-right: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1420px) {
    .exchange {
        .info {
            padding-left: 590px;

           h1 {
               font-size: 75px;
               padding-top: 60px;
           } 
        }

        .left {
            width: 510px;

            .picture {
                margin-left: -55px;
                padding-top: 100px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .universal {
        .universal_bg {
            .download {
                padding-bottom: 350px;
                padding-top: 100px;
            }

            .debit_card {
                .bxslider_card {
                    .text {
                        width: 420px;
                        font-size: 21px;
                    }

                    .image {
                        width: 500px;

                        img {
                            &.cashback {
                                margin-left: 0;
                            }

                            &.visa {
                                margin-left: 0;
                                margin-top: 100px;
                            }
                        }
                    }

                    .head {
                        h2 {
                            font-size: 42px;
                            width: 385px;
                        }

                        p {
                            font-size: 18px;
                            width: 445px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1400px) {
    .what_is {
        .info {
            width: 650px;

            h1 {
                font-size: 67px;
            }
        }
    }

    .support {
        .centered {
            .text {
                width: 550px;
                padding-top: 90px;

                h1 {
                    font-size: 70px;
                }
            }

            .picture {
                width: 530px;

                > img {
                    width: 100%;
                }
            }
        }
    }

    .licensed {
        .text {
            > div {
                width: 530px;
            }

            &.pict {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    h1 {
        font-size: 75px;
    }

    .explanation {
        font-size: 18px;
        
        p {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1270px) {
    .what_is {
        .info {
            padding-top: 100px;
        }

        .video {
            width: 400px;

            .video_img {
                .play {
                    width: 56px;
                    height: 65px;
                    top: 64px;
                    left: 203px;

                    img {
                        width: 90%;
                    }
                }
            }

            .ufo2 {
                margin-top: 100px;
                margin-left: 60px;
            }
        }
    }

    .universal {
        margin-top: 50px;
    }
}

@media (max-width: 1260px) {
    .what_is {
        .info {
            width: 500px;

            h1, .bxslider p, .bxslider h2, .bx-controls {
                padding-left: 0;
            }
        }
    }

    .exchange {
        .centered {
            > p {
                font-size: 22px;
            }
        }

        .info {
            .social {
                p {
                    font-size: 25px;
                }
            }

            h1 {
                font-size: 55px;
            }

            .text {
                font-size: 18px;

                p {
                    padding-top: 20px;
                }
            }
        }
    }

    .payment,
    .support {
        .text {
            font-size: 18px;
        }
    }

    .universal {
        .universal_bg {
            .debit_card {
                .bxslider_card {
                    .text {
                        margin-top: 400px;
                    }
                }

                .bx-controls {
                    top: 410px;
                }
            }
        }
    }

    .licensed {
        .text {
            > div {
                width: 440px;
            }
        }
    }

    .press {
        .centered {
            width: 989px;
        }
        
        .columns {
            padding: 100px 0;
            margin-top: 100px;

            .box {
                width: 320px;
                padding: 30px;

                &.logos {
                    width: 220px;

                    > div {
                        font-size: 15px;

                        img {
                            margin-right: 13px;
                            width: 55px;
                        }
                    }
                }
            }
        }
    }

    .steps {
        padding-top: 170px;
    }

}

@media (max-width: 1150px) {
    .steps {
        .graph {
            width: 700px;
            height: 144px;
            padding-top: 91px;
            font-size: 14px;
        }

        p {
            font-size: 18px;
        }
    }

    .universal {
        .universal_bg {
            .debit_card {
                .head {
                    h2 {
                        font-size: 40px;
                        width: 445px;
                    }

                    p {
                        width: 445px;
                    }
                }

                .bxslider_card {
                    .text {
                        margin-top: 320px;
                        width: 340px;
                    }

                    .image {
                        width: 440px;
                    }
                }

                .bx-controls {
                    top: 330px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .support {
        .centered {
            .text {
                width: 450px;
                padding-top: 34px;

                h1 {
                    font-size: 58px;
                }
            }

            .picture {
                width: 430px;
            }
        }
    } 

    .universal {
        .universal_bg {
            .top_div {
                .icons2 {
                    padding-bottom: 20px;
                    margin-top: 45px;
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    .what_is {
        .info {
            width: 450px;

            h1 {
                font-size: 59px;
            }
        }
    }
}

@media (max-width: 999px) {
    h1 {
        font-size: 65px !important;
    }

    .explanation {
        font-size: 16px;

        p {
            margin-top: 30px;

            &.quotes {
                em {
                    font-size: 16px;
                }
            }
        }
    }

    .what_is {
        .video, 
        .info {
            width: 100%;
        }

        .info {
            padding-top: 0;
        }

        .video {
            text-align: center;

            .video_img {
                margin-left: 0;
                width: 100%;
                text-align: center;
                position: relative;
                z-index: 2;

                > img {
                    width: 90%;
                }

                .play {
                    left: 39%;
                    top: 28%;
                }
            }

            > img {
                z-index: 3;
                position: relative;

                &.ufo1 {
                    width: 78%;
                    margin-top: -100px;
                    float: left;
                }
                
                &.ufo2 {
                    width: 50%;
                }
            }
        }
    }

    .exchange {
        .left,
        .info {
            width: 100%;
            float: left;
            padding-left: 0;
        }

        .left {
            .picture {
                margin-left: 0;
                text-align: center;
                padding-top: 50px;

                img {
                    width: 80%;
                }
            }
        }
    }

    .payment {
        padding-top: 150px;
        padding-bottom: 70px;
    }

    .support {
        .centered {
            .text {
                width: 100%;
                padding-top: 34px;

                h1 {
                    font-size: 58px;
                }
            }

            .picture {
                width: 100%;
                margin-top: 40px;
                text-align: center;

                .languages,
                p {
                    text-align: left;
                }

                > img {
                    width: 450px;
                    float: none;
                }
                
            }
        }
    } 

    .steps {
        padding-top: 150px;
    }

    .universal {
        margin-top: 100px;

        > h1 {
            padding: 0 40px;
            box-sizing: border-box;
        }

        .universal_bg {
            .top_div {
                h2 {
                    font-size: 22px;
                }

                h1 {
                    font-size: 65px ;
                }

                > p {
                    font-size: 17px;
                }
            }

            .debit_card {
                .head {
                    position: relative;

                    h2, p {
                        width: 100%;
                    }
                }

                .bx-controls {
                    top: 10px;
                }

                .bx-wrapper {
                    float: left;
                    position: relative;
                    margin-top: 45px;
                }

                .bxslider_card {
                    .text {
                        margin-top: 0;
                        width: 100%;
                        box-sizing: border-box;
                    }

                    .image {
                        margin-top: 35px;
                        width: 100%;
                        text-align: center;

                        img {
                            margin-top: 0 !important;
                            width: 450px;
                        }
                    }
                }
            }
            
            .download {
                padding-bottom: 270px;
                padding-top: 0;

                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .licensed {
        padding-top: 150px;
        padding-bottom: 180px;

        .text {
            > div {
                width: 100%;
            }

            &.pict {
                div:first-child {
                    text-align: center;

                    img {
                        max-width: 450px;
                    }
                }
            }
        }
    }

    .press {
        .centered {
            width: 600px;

            .columns {
                display: block;
                padding-top: 60px;

                .box {
                    margin: 40px 0px 0px 0px;
                    width: 100%;

                    .signature {
                        img {
                            margin-right: 30px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    &.logos {
                        span {
                            display: none;
                        }

                        > div {
                            width: 25%;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 880px) {
    h1 {
        font-size: 50px !important;
    }

    .explanation {
        font-size: 15px;

        p {
            &.quotes {
                em {
                    font-size: 15px;
                }
            }
        }
    }

    .what_is {
        &.centered {
            margin-top: 30px;
            
            .video {
                > img {
                    &.ufo1 {
                        margin-top: -90px;
                    }
                }
            }
        }
    }

    .steps {
        h2 {
            font-size: 50px;
        }
    }

    .universal {
        margin-top: 100px;

        > p {
            font-size: 18px;
        }

        > h1 {
            padding: 0 40px;
            box-sizing: border-box;
        }

        .universal_bg {
            .top_div {
                > p {
                    width: 100%;
                    padding-left: 40px;
                    padding-right: 40px;
                    box-sizing: border-box;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 26%;
                }
            }
        }
    }

    .steps {
        .graph {
            width: 500px;
            height: 103px;
            padding-top: 64px;
            font-size: 11px;

            span {
                margin: 0 10px;
            }
        }

        p {
            padding-top: 40px;
        }
    }

    .universal {
        .universal_bg {
            .top_div {
                .icons2 {
                    margin-top: 15px;
                    padding-bottom: 0;

                    .ico12 {
                        top: 0 !important;
                    }
                }

                h1 {
                    font-size: 40px !important;
                    margin-top: -15px;
                    float: left;
                }

                h2 {
                    font-size: 16px;
                }

                > p {
                    font-size: 14px;
                }
            }

            .download {
                padding-bottom: 200px;

                h2 {
                    font-size: 28px;
                }

                > p {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .us_too {
        padding-top: 110px;
    }

    .press {
        .centered {
            width: 420px;

            .columns {
                display: block;
                padding-top: 20px;
                padding-bottom: 60px;
                margin-top: 70px;

                .box {
                    margin: 40px 0px 0px 0px;
                    width: 100%;

                    h3 {
                        font-size: 21px;
                    }

                    &.logos {
                        span {
                            display: none;
                        }

                        > div {
                            width: 25%;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 670px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 24%;
                    left: 37%;
                }
            }

            > img {
                &.ufo2 {
                    width: 90%;
                    margin-left: 0;
                    margin-bottom: -100px;
                }
            }
        }

        .info {
            h1 {
                font-size: 40px;
            }

            .bx-wrapper {
                max-width: 100% !important;
            }

            .bxslider {
                p {
                    font-size: 17px;
                    padding-top: 30px;
                }

                h2 {
                    font-size: 22px;
                }

                img {
                    width: 100%;
                    margin-top: 50px;
                }
            }
        }
    }

    .exchange {
        .left {
            p {
                font-size: 17px;
            }

            .picture {
                img {
                    width: 100%;
                }
            }

            .quotes {
                p {
                    &:first-child {
                        padding-right: 0;
                    }
                }
            }
        }

        .centered {
            > p {
                font-size: 19px;
            }
        }

        .info {
            .text {
                font-size: 17px;
            }

            .social {
                p {
                    font-size: 22px;
                }
            }
        }
    }

    .payment {
        padding-top: 100px;

        .text {
            font-size: 17px;
            padding-top: 30px;
        }
    }

    .support {
        .centered {
            .text {
                font-size: 17px;
    
                p {
                    font-size: 17px;
                }
    
                h1 {
                    padding-bottom: 0;
                }
            }
    
            .picture {
                p {
                    font-size: 17px;
                    padding-top: 30px;
                }
            }
        }
    }

    .universal {
        .universal_bg {
            margin-top: 80px;

            .top_div {
                > p {
                    font-size: 13px;
                }
            }

            .download {
                .double {
                    img {
                        width: 180px;
                    }
                }
            }
        }
    }

    .licensed {
        .text {
            > div {
                font-size: 17px;

                p {
                    padding-top: 25px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px !important;
    }

    .exchange {
        .centered {
            > p {
                font-size: 18px;
            }
        }
    }

    .steps {
        padding-top: 80px;
        padding-bottom: 55px;

        h2 {
            font-size: 40px;
        }

        .graph {
            width: 310px;
            height: 64px;
            padding-top: 0;
            position: relative;

            span {
                display: inline-block;
                position: absolute;

                &:nth-child(1) {
                    left: 0px;
                    top: 10px;
                }

                &:nth-child(2) {
                    left: 43px;
                    top: 32px;
                }

                &:nth-child(3) {
                    left: 119px;
                    top: 10px;
                }

                &:nth-child(4) {
                    left: 211px;
                    top: 32px;
                }
            }
        }

        p {
            padding-top: 40px;
        }
    }

    .us_too {
        h2 {
            font-size: 23px;
        }
    }

    .universal {
        > p {
            font-size: 17px;
        }

        .universal_bg {
            .top_div {
                h2 {
                    font-size: 17px;
                }
            }

            .download {
                h2 {
                    font-size: 20px;
                }
            }

            .debit_card {
                .head {
                    p {
                        font-size: 18px;
                    }
                }

                .bxslider_card {
                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        font-size: 17px;
                        padding-left: 90px;
                    }
                }

                .box {
                    padding-top: 70px;
                }
            }
        }
    }

    .licensed {
        padding-bottom: 100px;
        padding-top: 120px;

        h2 {
            font-size: 40px;
        }

        .text {
            &.pict {
                padding-top: 40px;
            }
        }
    }
}

@media (max-width: 580px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 24%;
                    left: 37%;
                    width: 43px;
                    height: 52px;
                }
            }

            > img {
                &.ufo1 {
                    margin-top: -55px !important;
                }
            }
        }
    }

    .payment {
        padding-bottom: 30px;
    }

    .support {
        .centered {
            .picture {
                img {
                    width: 100%;
                }

                .languages {
                    margin-top: 0;
                }
            }
        }
    }

    .ico5,
    .ico3 {
        .popover {
            left: -20px;
        }
    }

    .ico1 {
        .popover {
            left: -100px !important;
        }
    }

    .ico13 {
        .popover {
            left: -200px !important;
        }
    }

    .ico8,
    .ico9 {
        .popover {
            left: -200px;
        }
    }
}

@media (max-width: 550px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 24%;
                    left: 37%;
                    width: 43px;
                    height: 52px;
                }
            }
        }
    }

    .support {
        &:before {
            height: 70px;
        }
    }

    .press {
        .centered {
            width: 310px;

            > p {
                font-size: 15px;
            }

            .columns {
                padding-bottom: 30px;
                
                .box {
                    h3 {
                        font-size: 17px;
                    }

                    p {
                        font-size: 15px;
                        padding-top: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 22%;
                }
            }

            > img {
                &.ufo1 {
                    margin-top: -50px !important;
                }
            }
        }
    }

    .support {
        .centered {
            .picture {
                .languages {
                    .more {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }

    .universal {
        .universal_bg {
            .top_div {
                > p {
                    font-size: 11px;
                }

                h1, h2 {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 35px !important;
    }

    .explanation {
        font-size: 14px;

        p {
            margin-top: 20px;

            &.quotes {
                em {
                    font-size: 14px;
                }
            }
        }
    }

    .what_is {
        .video {
            .video_img {
                .play {
                    top: 20%;
                    left: 35%;
                }
            }
        }

        .info {
            .bxslider {
                h2 {
                    font-size: 17px;
                }
            }
        }
    }

    .payment {
        padding-top: 70px;

        .logos {
            a {
                margin-left: 0;
                margin-right: 0;
                width: 100%;

                svg {
                    height: 30px !important;
                    width: auto !important;
                }
            }
        }

        .text {
            padding-bottom: 30px;
        }
    }

    .universal {
        .universal_bg {
            .debit_card {
                .head {
                    h2 {
                        font-size: 35px;
                    }

                    p {
                        font-size: 17px;
                    }
                }

                .bxslider_card {
                    .text {
                        padding-left: 60px;
                        font-size: 17px;
                    }
                }
            }
            .top_div {
                .icons2 {
                    margin-top: 0px;
                }

                > p {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }

    .press {
        .centered {
            width: 240px;

            .columns {
                margin-top: 40px;

                .box {
                    h3 {
                        font-size: 17px;
                    }

                    p {
                        font-size: 15px;
                        padding-top: 25px;
                    }

                    &.logos {
                        padding-left: 0;
                    }

                    .signature {
                        img {
                            height: 50px;
                            margin-right: 10px;

                            &:last-child {
                                height: 16px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px !important;
    }

    .what_is {
        .video {
            .video_img {
                .play {
                    top: 22%;
                    left: 35%;
                    width: 34px;
                    height: 39px;
                }
            }
        }
    }

    .steps {
        h2 {
            font-size: 35px;
        }
    }

    .us_too {
        padding-top: 90px;

        h2 {
            font-size: 20px;
        }
    }

    .universal {
        .universal_bg {
            .debit_card {
                .head {
                    h2 {
                        font-size: 30px;
                    }
                }
            }

            .top_div {
                h2 {
                    font-size: 11px;
                }

                h1 {
                    font-size: 24px !important;
                }

                > p {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .licensed {
        padding-top: 100px;

        h2 {
            font-size: 30px;
        }
    }

    .ico4 {
        .popover {
            left: 0px !important;
        }
    }

    .ico1 {
        .popover {
            left: -90px !important;
        }
    }

    .ico2 {
        .popover {
            left: -15px !important;
        }
    }

    .ico3 {
        .popover {
            left: -63px !important;
        }
    }

    .ico5 {
        .popover {
            left: -40px !important;
        }
    }

    .ico7 {
        .popover {
            left: -140px !important;
        }
    }

    .ico8 {
        .popover {
            left: -180px !important;
        }
    }

    .ico10 {
        .popover {
            right: -50%;
        }
    }

    .ico11 {
        .popover {
            right: -75%;
        }
    }

    .ico12 {
        .popover {
            left: -75px;
        }
    }
}

@media (max-width: 360px) {
    .what_is {
        .video {
            .video_img {
                .play {
                    top: 20%;
                }
            }
        }
    }

    .steps {
        .graph {
            margin-left: -35px;
        }
    }
}